@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100%;
    min-width: 100%;
    overflow-y: hidden;
    position: fixed;
    overflow-x: auto;
}

table {
    position: absolute;
    left: 30px;
    z-index: -1;
    border-spacing: 220px 90px;
}

a {
    text-decoration: none;
}


/* Information */

.button {
    position: fixed;
    width: 35px;
    height: 35px;
    padding: 3px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    border: 1px dashed #fff;
    font-family: "Fjalla One";
    cursor: pointer;
    z-index: 99;
    overflow: hidden;
}

.reveal {
    top: 10px;
    left: 10px;
    color: transparent!important;
}

.reveal .eye {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.opened {
    background-image: url(../images/eye.png);
}

.closed {
    background-image: url(../images/closed_eye.png);
}

.info {
    top: 10px;
    right: 10px;
}

.return {
    top: 65px;
    left: 10px;
}

.dark-screen {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 20;
    background-color: #000;
    opacity: 0;
    transition: 0.7s opacity ease-in-out;
}

.info-box {
    position: absolute;
    opacity: 0;
    width: 50vw;
    z-index: -10;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px;
    background-color: #fff;
    transition: all 0.7s ease-in;
}

.info-box p {
    font-size: 12px;
    text-align: right;
}

.date {
    position: fixed;
    font-family: 'Homemade Apple';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
    width: 252px;
    text-align: center;
}

@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blinking {
    0% {
        color: rgba(255, 255, 255, 1);
    }
    50% {
        color: rgba(255, 255, 255, 0.5);
    }
    100% {
        color: rgba(255, 255, 255, 1);
    }
}


/*LOADING*/

.loading {
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    animation: blinking 1s infinite;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    font-family: 'Homemade Apple';
}


/* Reveal interactive areas on the page */

.reveal {
    position: absolute;
    z-index: 30;
    cursor: pointer;
}

.disappeared {
    opacity: 0;
}

@keyframes appearance {
    from {
        opacity:0;
    }

    to {
        opacity: 1;
    }
}

.appeared {
    animation: appearance 1s;
    opacity: 1;
}

/* TRAVELS SELECTOR */

.selector {
    position: absolute;
    z-index: 30;
}

.year-selector {
    top: 20px; 
      left: 50%;
  /* bring your own prefixes */
  transform: translateX(-50%);
    font-family: "Homemade Apple";
    display:flex;
    align-items: center;
    justify-content: center;
    height: 30px;

}

.year-selector a {
    transition: 0.3s all ease-in-out;
    color: rgba(255,255,255,0.5);
    margin-left: 5px;
}

.year-selector a:hover {
    font-size: 25px;
    margin: 0 10px;
    color: #fff!important;
}

.year-selector:hover a {
    color: rgba(255,255,255,0.3);
}

.year-selected {
    font-size: 25px;
    color: #fff!important;
}

.turn-button {
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50vh;
    display: flex;
    align-items: center;
    font-family: "Fjalla One";
    font-size: 30px;
    transition: 0.5s background-color ease-in;
}

.turn-button:hover, .turn-button:focus {
    background-color: rgba(255,255,255,0.5);
}

.left {
    left: -30px;
}

.left p {
    margin-left: 35px;
}
.right {
    right: -30px;
}

.right p {
    margin-left: 15px;
}


/*HOME*/

.container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    /* To make elements fixed on the map */
    overflow-y: hidden;
    position: fixed;
}

.overflow-hidden {
    overflow-x: hidden;
}


/* Remove default blue outline */

map {
    transition: 0.5s all ease-in;
}

map[name] area {
    outline: 0;
}

area[title]:after {
    content: attr(title);
}

area {
    z-index: 15;
    cursor:pointer;
}

area:hover {
    outline: 10px;
}

area[title]:hover {
    opacity: 1;
    transform: scale(1.2);
}

area[title] {
    transition: 0.4s ease-in opacity, 0.3s ease-in transform;
    position: absolute;
    line-height: 1em;
    font-family: "Homemade Apple";
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    color: white;
}

.area-title-big {
    font-size: 28px;
}

.area-title-small {
    font-size: 18px;
}

/* Remove default blue outline */

area:hover {
    outline: 10px;
}

.panorama {
    height: 100vh;
    width: auto;
}

.not-panorama {
    width: 100vw;
    height: 100vh;
}

.rwdimgmap {
    animation: 1s ease-in-out appearance;
}

/* Pastels gallery */

.gallery {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
}

.board {
    z-index: 15;
    position: fixed;
}

/* Collections */

.collections-list-container {
    position: absolute;
    opacity: 0;
    width: 50vw;
    z-index: -10;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    display:flex;
    justify-content: center;
    padding: 20px;
    transition: all 0.7s ease-in;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-box {
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    background-color: grey;
    width: 150px;
    text-align: center;
    height: 150px;
    background-size: 130%;
    background-position: center bottom;
    background-repeat: no-repeat;
    overflow:hidden;
    transition: all ease-in-out 0.2s;
}

.album-box:hover .album-box-title {
    margin-top: 80%;
}

.album-box:hover {
    background-size: 150%;
    box-shadow: 0 0 0 200px rgba(0,0,0,0.4) inset;
}

.album-box-title {
    transition: all ease-in-out 0.2s;
    height: 20%;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
    margin-top: 100%;
    color: #fff;
}