@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700,800&display=swap');
html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100%;
    min-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

a {
    text-decoration: none;
}


/* Information */

.button {
    position: fixed;
    width: 50px;
    height: 50px;
    padding: 3px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 1px dashed #fff;
    font-family: "Fjalla One";
    cursor: pointer;
    z-index: 99;
    overflow: hidden;
}

.black-button {
    color: #000;
    border-color: #000;
}

.reveal {
    top: 10px;
    left: 10px;
    color: transparent!important;
}

.reveal .eye {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.opened {
    background-image: url(../images/eye.png);
}

.closed {
    background-image: url(../images/closed_eye.png);
}

.menu-button {
    top: 10px;
    right: 10px;
}

.return {
    top: 80px;
    left: 10px;
    z-index: 50;
}

.dark-screen {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.7s opacity ease-in-out;
}


/* MAIN MENU */

.menu {
    position: fixed;
    z-index: 60;
    width: 100%;
    height: 100%;
}

.menu .box {
    background-color: #fff;
    width: 50%;
    height: inherit;
    float: left;
}

.info .portrait {
    background-size: cover;
    background-image: url('../images/default-portrait.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.notice {
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.notice-container {
    height: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: Montserrat, Arial;
    color: #fff;
}

.info .notice-container:hover .notice {
    opacity: 1;
    z-index: 40;
}

.key-icon {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    font-weight: 800;
    min-width: 20px;
    text-align: center;
    margin: 0 5px;
}

.notice p {
    margin-top: 5px;
}

.info .notice-container:hover .portrait {
    transform: scale(1.2);
    filter: blur(5px);
}

.info-description {
    padding: 30px;
    overflow-y: auto;
    font-family: Montserrat, Arial;
    position: relative;
}

.info-description p {
    font-size: 12px;
    text-align: right;
    animation: author-animation 0.5s ease-in-out;
}

@keyframes author-animation {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
    }
}

.info-description:before {
    content: open-quote;
    position: absolute;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.1);
    font-family: Georgia;
    top: 10px;
    left: 5px;
}

.map {
    overflow-y: auto;
}

.map .index {
    padding-left: 5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes shadow-blinking {
    0% {
        text-shadow: 0 0 3px rgba(193, 0, 0, 0.8);
    }
    50% {
        text-shadow: 0 0 5px rgba(193, 0, 0, 1);
    }
    100% {
        text-shadow: 0 0 3px rgba(193, 0, 0, 0.8);
    }
}

.index h2 {
    font-family: "Homemade Apple";
    font-weight: normal;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}

.index .highlighted {
    color: #c10000;
    text-shadow: 0 0 5px rgba(193, 0, 0, 0.8);
    pointer-events: none;
}

.index h2:hover {
    color: #c10000;
    animation: shadow-blinking 1s infinite;
}

.index .destinations-list {
    margin-top: -10px;
}

.index .destinations-list span a {
    font-family: Montserrat, Arial;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    color: #c10000;
    font-size: 18px;
}

.index .destinations-list span a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin: 0 auto;
    background: #c10000;
    transition: width .3s;
}

.index .destinations-list span a:hover::after {
    width: 100%;
    transition: width .3s;
}

.index .destinations-list span .link-highlighted {
    pointer-events: none;
}

.index .destinations-list span .link-highlighted:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #c10000;
    width: 100%;
}

.index .destinations-list span:not(:last-child):after {
    content: " | ";
    font-weight: bold;
    position: relative;
    font-size: 25px;
    width: 30px;
    display: inline-block;
    text-align: center;
}

@keyframes leftSlide {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes rightSlide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


/*
.info-box p {
    font-size: 12px;
    text-align: right;
}
*/

@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blinking {
    0% {
        color: rgba(255, 255, 255, 1);
    }
    50% {
        color: rgba(255, 255, 255, 0.5);
    }
    100% {
        color: rgba(255, 255, 255, 1);
    }
}


/*LOAtING*/

.loading {
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    animation: blinking 1s infinite;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    font-family: 'Homemade Apple';
}


/* Reveal interactive areas on the page */

.disappeared {
    opacity: 0;
}

@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.appeared {
    animation: appearance 1s;
    opacity: 1;
}


/* TRAVELS */

.travel-button {
    top: 80px;
    right: 10px;
    z-index: 50;
}

.travel-container {
    opacity: 0;
    display: none;
    position: fixed;
    z-index: 40;
    width: 100%;
    height: 100vh;
    transition: 0.7s opacity ease-in-out;
}

.travel-container .content {
    display: flex;
    height: inherit;
}

.travel-container .box {
    scrollbar-width: none;
    width: 25%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 15px;
}

.travel-container .box::-webkit-scrollbar {
    display: none;
}


/* Year title */

.travel-container .box h3 {
    font-family: "Homemade Apple";
    color: #fff;
    font-weight: normal;
    font-size: 30px;
    margin: 10px 0;
    text-align: right;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
}


/* Travel row */

.travel-container .box span {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.3s ease-in-out all;
    font-family: Montserrat, Arial;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
}

.travel-container .box span:hover,
.travel-container .box span:focus {
    background-color: rgba(255, 255, 255, 0.3);
}


/*HOME*/

.container {
    width: 100%;
    white-space: nowrap;
    transition: 0.5s ease filter;
}

.overflow-hidden {
    overflow-x: hidden;
}

map {
    transition: 0.5s all ease-in;
}

map[name] area {
    outline: 0;
}

span[title]:after {
    content: attr(title);
}

area {
    z-index: 15;
}

area:focus {
    outline: 10px;
}

.area-title:hover {
    opacity: 1;
    transform: scale(1.2);
}

.area-title {
    cursor: pointer;
    transition: 0.4s ease-in opacity, 0.3s ease-in transform;
    position: absolute;
    line-height: 1em;
    font-family: "Homemade Apple";
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
}

.area-title-big {
    font-size: 4vh;
}

.area-title-small {
    font-size: 3vh;
}

.panorama {
    height: 100vh;
    width: auto;
}

.not-panorama {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.rwdimgmap {
    animation: 1s ease-in-out appearance;
}


/* Pastels gallery */

.album-gallery {
    background-color: #ebe8e5;
    background-image: url('../images/locations/board.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
}

#albums-grid {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 33% 14.25%;
    margin-left: 14%;
    margin-top: 14vh;
    z-index: -1;
    grid-auto-rows: 25vh;
}

.albums-grid-link {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.albums-grid-link p {
    font-family: 'Homemade Apple';
    font-size: 1.5vw;
    color: #fff;
    transition: all ease-in-out 0.2s;
}

.albums-grid-link:hover p,
.albums-grid-link:focus p {
    transform: rotate(5deg) scale(2);
}

.date {
    display: block;
    font-family: 'Homemade Apple';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
    text-align: center;
}


/* Albums window */

.list-container {
    position: absolute;
    width: 50vw;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    transition: all 0.7s ease-in;
}

.album-box {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    background-color: grey;
    width: 150px;
    text-align: center;
    height: 150px;
    background-size: 130%;
    background-position: center bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
    white-space: normal;
}

.album-box:hover .album-box-title {
    margin-top: 75%;
}

.album-box:hover {
    background-size: 150%;
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.4) inset;
}

.album-box-title {
    transition: all ease-in-out 0.2s;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    margin-top: 110%;
    position: relative;
}

.album-box-title p {
    color: #fff;
    font-family: Montserrat;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
}